<article class="stock-item">
    <div class="cart-item-info">
        <h2>Symbol & Stock Name: <%= item.symbol %> | <%= item.stockName  %></h2>
        <p>
            <span>Owned Stock Quantity: </span>
            <form class="stock-item-management" data-symbol = "<%= item.symbol %>" data-csrf="<%= locals.csrfToken %>">
                <input type="number" value="<%= item.quantity %>" required>
                <button class="btn">Update</button>
            </form>
        </p>
        <p>
            <span>Average Price (Per Quantity): 0</span>
            <form>
                <input required>
                <button class="btn">Update</button>
            </form>
        </p>
        <p>Current Stock Price (Current Total Price): $<%= item.price %> (<span class="stock-item-price"><%= item.totalPrice.toFixed(2) %></span>)</p>
    </div>
</article>
