<%- include('../../shared/includes/head', { pageTitle: 'Stocklist' }) %>
<link rel="stylesheet" href="/styles/stockList.css">
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
        <h1 id="ticker">ALL <span><%= id %></span> TICKERS</h1>
        <ul>
            <% for (let item of stockList.result) { %>
                <li id="stockList"><%= item.description %> - <%= item.displaySymbol %> - <%= item.type %> 
                    <div class="btn-container">
                        <form action="/stock-info" method="POST">
                            <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
                            <input type="hidden" name="symbol" value="<%= item.displaySymbol %>">
                            <button type="submit" class="btn">View</button>
                        </form>                        
                        <button class="btn">Save</button>
                    </div>
                </li>
            <% } %>
        </ul>
    </main>
<%- include('../../shared/includes/footer') %>